
# files
ds9
ds9.zip
test2.py
.python-version
plots.py
*.png
*.jpg
*.fits
clean_data.sh
results.txt
*.out
analize_lens.py
illustrating_lenses.py
Lens_doc.ipynb

# directories
images/
kids_images/
.vscode
pyautolens_test.py
root.log
models
lenses
__pycache__/
